@import url('https://fonts.googleapis.com/css2?family=Imbue:wght@300&family=Lora:ital@1&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Lora, sans-serif;
    color: #3f000f;
}

h1 {
    font-family: Imbue, sans-serif;
    color: #eb8108;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2 {
    font-family: Imbue, sans-serif;
    color: #eb8108;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#logo {
    float: left;
    font-size: 330%;
    margin-left: 30px;
}

#logo2 {
    float: left;
    font-size: 140%;
    margin-left: 25px;
    color:#eb8108;
}

#menu {
    font-size: 100%;
    letter-spacing: 3px;
    list-style-type: none;
    }

/* horizontally align logos and menu items */

#logo, #menu, #logo2 {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}


/* set the hover and the active page */

#menu a:hover {
    border-bottom: 1px #eb8108 solid;
}

.active {
    border-bottom: 1px #eb8108 solid;
}

/* Hero Image for landing page*/

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../img/hi.jpg") no-repeat center center;
    
/* some animation to make the image move forwards and stop */
    animation: heroZ;
    animation-duration: 3s;
    animation-fill-mode: forwards;

}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}


@keyframes heroZ {
    from{
        transform: scale(1);

    }
    to {
        transform: scale(1.1);

    }
} 

/* Overlay styling on hero image */

#overlay h2 {
    color: #fafafa;
    font-weight: 600;
    padding-bottom: 10px;
}

#overlay p {
    color:#3f000f;
    font-size: 100%;
    font-weight: 700;
}

#overlay {
    font-size: 100%;
    font-family: Imbue, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 240px;
    height:180px;
    border-radius: 15%;
    padding: 15px 15px 25px 15px;
    background-color: rgba(245, 79, 13, 0.8);
    bottom: 70px;
    left: 60px;
    position: absolute;
}

#overlay a {
    text-decoration: none;
}

#landbutton {
    margin-top: 8px;
    margin-bottom: 2px;
    width: 120px;
    border-radius: 20px;
    padding: 7px 7px;
    text-align: center;
    background-color: #3f000f;
    color: #eb8108;
}

#landbutton a {
    background-color: #3f000f;
    color: #eb8108;

}

#landbutton a:hover {
    color: #fafafa;
}


/*................ THE ABOUT US PAGE!!!!!!............. 
The love running project by CI really helped me hear*/

#aboutus {
    clear: both;
    height: 600px;
    background-color: blanchedalmond;
    background-position: center;
    margin-left: 1%;
    width:98%;
}

/*  aboutus heading style*/

#teammembers {
    text-align: center;
    margin: 20px 0 20px 0;
    font-size: 300%;
    font-weight: 500; 
    color: #3f000f;
    padding-top: 20px;
    padding-bottom:10px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    
}

.left-about-side {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 60px;
}

#left-about h2 {
    font-weight: 500;
}
hr {
    border-top: 1px solid #3f000f;
    width: 100%;
    margin: 5px 0;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

.right-about-side {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 70px;
}

.right-about-side h2 {
    text-align: right;
}

#right-about h2 {
    font-weight: 500;
}

.right-about-side p {
    text-align: right;
}

#center-about {
    padding-top: 70px;
    width: 33%;
    margin: 0 auto;    
}

/*Center column photos in aboutus*/

#circle-container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 20px;
    border-style: solid;
    border-color: #eb8108;
    border-width: 1px;
    margin: 0 auto; 
}
#circle-bg-pic {
   background: url("../img/group.jpg") no-repeat center center;
   height: 100%;
   border-radius: 50%;
}

/* Class and times section .......*/

/* orange image styling */

#classtimes {
    clear: both;
    background-image: url('../img/orangebg2.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
    overflow: hidden;
    background-position: center;
    margin-left: 1%;
    width: 98%;
}

/* the 5 class and times styling */

#classtimes div {
    color: #fafafa;
    background-color: rgba(0,0,0, 0.7);
    width: 19.5%;
    height: 160px;
    float: left;
    text-align: center;
    padding: 20px 0 0 0;
    margin: 3px;
    line-height: 15px;
}


#classtimes h4 {
    font-weight: 200;
    margin-bottom: 4px;
}

#classtimes h2 {
    font-weight: 400;
}


 blockquote{
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin-top: 320px;
}


blockquote h2 {
    color: #000;
    font-family: Lora, sans-serif;
    font-size: 150%;
    font-weight: 900;
    
    }

    blockquote h4 {
        margin-left: 500px;
    }


/* robbed css foot classes form running  just for reference.*/

footer {
    clear: both;
    height: 150px
}

.footercontact {
    text-align: center;
    color:#3f000f;
    padding-left: 10px;
    text-decoration: none;
    padding-bottom: 5px;
}

footer h2 {
    color: #eb8108;
    font-weight: 800;
}

footer h2,h4{
    padding-left: 10px;
    padding-right: 3px;
    padding-bottom: 15px;
    text-align: center;
}

.be-social
{
   text-align: center;
}

.be-social li {
    text-align: center;
    display: inline;
}


.be-social i {
    font-size: 250%;
    color: #eb8108;
    margin: 1%;
    padding: 3%;
}

/* ...........Classes descriptions ........*/

/* Setting the background on the classes page */

#classes {
    background: url('../img/cliff.jpg') no-repeat;
    height: 660px;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#classes div {
    text-align: center;
    width: 583px;
    height: 145px;
    margin: 0 auto;
    background-color: rgba(240, 210, 166, 0.8);
    border-radius: 30%;
}

#classes p {
color: #3f000f;
font-size: 90%;
font-weight: 600;
}

#classes h2 {
    font-size: 150%;
    font-weight: 600;
    color: #3f000f;
    margin-top: 15px;
    margin-bottom: 5px;
    padding-top: 10px;
}


/*......... CONTACT US FORM.....*/

.form {
    clear: left;
    height: 600px;
    background: url("../img/contact.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    margin: 10px;
}

.signup {
    margin-top: 175px;
    color:#fff;
    background-color: rgba(60, 60, 60, 0.6);
    width: 300px;
    height: 350px;
    border-radius: 5%;
    position: absolute;
    left: 6%;
    padding: 15px;
}

.signup h1 {
    color: #eb8108;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
    
}
/* styling the input containers using the help of the love running tutorial */
.form-input {
    background: transparent;
    color: #fff;
    width: 100%;
    height: 25px;
    margin: 5px 0 10px 0 ;
    border: 1.5px solid #eb8108;
    border-radius: 5px;    
}

.form-input:hover {
    border-color: #3f000f;
}

.contact-button {

    margin-top: 10px;
    margin-left: 90px;
    border-radius: 5px;
    padding: 10px 10px;
    text-align: center;
    font-size: 75%;
    background-color: #f56f15;
    color: #3f000f;
    }

    .contact-button:hover {
        background-color: #fafafa;
        color: #f56f15;
    }



/*media queries for a tablet .........for screen sizes at or below 1393 px*/

@media screen and (max-width: 1393px) {

#aboutus {
width: 65%;
height: 1200px;
margin: 0 auto;
}
#teammembers {
    padding: 20px 0;
    margin-top: 0;
}
#right-about, #left-about {
    width:100%;
    float: left;
    padding: 0;
}

#center-about {
    clear: both;
    width: 100%;
    float: left;
    padding: 0;

}
hr {
    display: none;
}

#classes {
    width: 65%;
    height: 1000px;
    margin: 0 auto;
    background-repeat: no-repeat;
}
#classes blockquote {
    width:100%;
    text-align: center;
    padding: 30px 0px 0px 5px;
    }

#classtimes {
    width: 65%;
    height:1200px;
    margin:0 auto;
    background-repeat: no-repeat;
}
#classtimes div {
    width:100%;
    text-align: left;
    padding: 20px 0px 0px 10px;
}
aside {
    clear: both;
    font-size: 50%;
    padding: 10px 0px 0px 10px;
      
}
aside h2 {
     color: #eb8108;
     font-weight: 200;

}

}
/* media queries for mobiles .........for screen sizes at or below 943px  credit to CI and the "Love Running Lesson for these pieces of code*/


@media screen and (max-width: 943px) {

   /*check out in formstack question and answers */

   #logo {
    width: 90%;
    text-align: left;

}

a,h1{
    text-decoration: none;
}

    /*steps to move navlist below the logo taken from love to run project   */

    #menu{
        clear: both;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 20px;
        font-size: smaller;
}



#aboutus {
width: 90%;
height: 1200px;
margin: 0 auto;
}

.right-about-side, .left-about-side {
    width:inherit;
}
.right-about-side h2, .left-about-side h2{
    width: 100%;
    text-align: center;
}

.right-about-side p, .left-about-side p{
    width: 100%;
    text-align: center;
}

#classtimes div {
        width: 100%;
        clear: both;
        height: 175px;
        border-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: #000;
        padding: 20px 0 0 0;
    }
    
  h2 {
    clear: both;
    text-align: center;
    
}
aside {
font-size: 65%;
padding: 10px 0 0 10px;
}

#classes {

    width: 80%;
    height: 1200px;
    margin: 0 auto;
    background-repeat: no-repeat;
}
#classes blockquote {
    width:100%;
    text-align: left;
    margin-top: 10px;
    padding: 10px 0px 0px 5px;
    
}


}

/* for very small devices */

@media screen and (max-width: 500px){
 
    #logo {
    
    text-align: center;
    font-size: 200%;
    padding: 0;
    margin: 0;
}
#menu li {
    float: left;
    text-align: center;
}

    #logo2 {
   
        display: none;
    }

        .smalldevice {
            display: none;
        }
}
@media screen and (max-width: 280px){
    .smalldevice2 {
            display: none;
    }
            #logo {
    
    text-align: center;
        
}
div .smalldevice2{
    display:none
}
}