@import url('https://fonts.googleapis.com/css2?family=Imbue:wght@300&family=Lora:ital@1&family=Roboto&display=swap');
/* Clear all default padding and margins before starting - although wild cards slow site */ 
*{
    margin: 0;
    padding: 0;
    border: 0;
}

/* Styling the basic elements here. Using font style Lora and Imbue from Google fonts imported above. */

body {
    font-family: Lora, sans-serif;
    color: #3f000f;
}

h1 {
    font-family: Imbue, sans-serif;
    color: #eb8108;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2 {
    font-family: Imbue, sans-serif;
    color: #eb8108;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* This is styling for my The Pilates Parlour logo which is also a link to the home page. This header is uniform across
all website pages */

#logo {
    float: left;
    font-size: 330%;
    margin-left: 30px;
}

/* This is my telephone number logo */

#logo2 {
    float: left;
    font-size: 140%;
    margin-left: 25px;
    color:#eb8108;
    font-weight: 600;
}

/* This ID is for my unordered list items which are links to all pages
and they reside beside the logos */

#menu {
    font-size: 100%;
    letter-spacing: 3px;
    list-style-type: none;
    }

/* horizontally align logos and menu items . Thanks Matt Rudge tutorial for this tip*/

#logo, #menu, #logo2 {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 20px;
}

/* this code gets rid of the bullet points - ci lessons*/

#menu a {
    text-decoration: none;
    color: inherit;
}

/* set the hover and the active page - Love running tutorial lesson*/

#menu a:hover {
    border-bottom: 1px #eb8108 solid;
}

.active {
    border-bottom: 1px #eb8108 solid;
}

/* Hero Image for landing page. 
 I got the image from pexel.com and followed the Love Running tutorial to set it up*/

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../img/hi.jpg") no-repeat center center;
    
/* some animation to make the image move forwards and stop - again saw this in the love running tutorial*/

    animation: heroZ;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* styling the outer container ( wrapper) here */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* Again from the love running tutorial we were taught this clever trip - nice touch I think 
  - I copied the code and adapted to my project */ 

  @keyframes heroZ {
    from{
        transform: scale(1);

    }
    to {
        transform: scale(1.1);

    }
} 

/* Overlay styling on hero image. I wanted a nice welcome message with a button to the schedule */

#overlay h2 {
    color: #fafafa;
    font-weight: 500;
    padding-bottom: 10px;
}

#overlay p {
    color:#3f000f;
    font-size: 100%;
    font-weight: 700;
}

#overlay {
    font-size: 100%;
    font-family: Imbue, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 240px;
    height:180px;
    border-radius: 15%;
    padding: 15px 15px 25px 15px;
    background-color: rgba(245, 79, 13, 0.8);
    bottom: 70px;
    left: 60px;
    position: absolute;
}

/* Gets rid of the bullet point*/
#overlay a {
    text-decoration: none;
}

/* This is my styling for the land button - wished I used bootstrap from the very start */ 

#landbutton {
    margin-top: 8px;
    margin-bottom: 2px;
    width: 120px;
    border-radius: 20px;
    padding: 7px 7px;
    text-align: center;
    background-color: #3f000f;
    color: #eb8108;
}

#landbutton a {
    background-color: #3f000f;
    color: #eb8108;
}

#landbutton a:hover {
    color: #fafafa;
}


/*........................ THE ABOUT US PAGE!!!!!!................................. 
The love running project by CI really helped me here*/

/* This sets up the middle section between the nav bar and the footer */

#aboutus {
    clear: both;
    height: 600px;
    background-color: blanchedalmond;
    background-position: center;
    margin-left: 1%;
    width:98%;
}

/*  aboutus heading style*/

#teammembers {
    text-align: center;
    margin: 20px 0 20px 0;
    font-size: 300%;
    font-weight: 500; 
    color: #3f000f;
    padding-top: 20px;
    padding-bottom:10px;
}

/* This page is broken into three columns called left-about, right about and center. Each width is 33% of the total width
Left floats left and right floats right. The middle column is left until last for styling. We add headings and paragraphs 
about the pilates team and they straddle the center picture - again I copied the idea from LOVE RUNNING */

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

.left-about-side {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 60px;
}

#left-about h2 {
    font-weight: 500;
}
hr {
    border-top: 1px solid #3f000f;
    width: 100%;
    margin: 5px 0;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

.right-about-side {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 70px;
}

.right-about-side h2 {
    text-align: right;
}

#right-about h2 {
    font-weight: 500;
}

.right-about-side p {
    text-align: right;
}

#center-about {
    padding-top: 70px;
    width: 33%;
    margin: 0 auto;    
}


/*Center column photos in aboutus. Like in Love Running I make the center div circular with equal width, height 
and border-radius at 50%. I include an outer cirle with border for style*/

#circle-container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 20px;
    border-style: solid;
    border-color: #eb8108;
    border-width: 1px;
    margin: 0 auto; 
}

/* Image came from the pexel.com site*/

#circle-bg-pic {
   background: url("../img/group.jpg") no-repeat center center;
   height: 100%;
   border-radius: 50%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CLASS AND TIMES SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* For the schedule page I use a warm orange image. Again it is used as the background and takes up
the section between footer and header section. */

#classtimes {
    background-image: url('../img/orangebg2.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
    overflow: hidden;
    background-position: center;
    margin: 0 auto;
    width: 100%;
}

/* SCHEDULE : - the 5 different class and times styling. Each div takes up approx 20% of the width. 
Thus 5 boxes */

#classtimes div {
    color: #fafafa;
    background-color: rgba(0,0,0, 0.7);
    width: 19.75%;
    height: 160px;
    float: left;
    text-align: center;
    padding: 20px 0 0 0;
    margin-left: 2px;
    line-height: 15px;
}

#classtimes h4 {
    font-weight: 200;
    margin-bottom: 4px;
}

#classtimes h2 {
    font-weight: 400;
}

/* This is my quote under the 5 boxes. It doesn't obscure the picture underneath 
and is easy to read */

blockquote{
    margin: 0 auto;
    color: #ffffff;
    text-align: right;
    margin-top: 365px;
    margin-right: 300px;
    height: 300px;
    width: 300px;
}

blockquote p {
    text-align: center;
    color: #000;
    font-family: Lora, sans-serif;
    text-transform: uppercase;
    font-size: 130%;
    font-weight: 800;
    }

/* Css foot classes from LOVE running - just for reference. 
The Love Running tutorial helped me with the footer and the social media addition. I followed it very closely*/

footer {
    clear: both;
    height: 150px
}

.footercontact {
    text-align: center;
    color:#3f000f;
    padding-left: 10px;
    text-decoration: none;
    padding-bottom: 5px;
}

footer h2 {
    color: #eb8108;
    font-weight: 800;
}

footer h2,h4{
    padding-left: 10px;
    padding-right: 3px;
    padding-bottom: 15px;
    text-align: center;
}

/* Under the contact info is my social media icons and links. Again thanks to the love running tutorial
Got icons from fontawesome library for all my project */

.be-social
{
   text-align: center;
}

.be-social li {
    text-align: center;
    display: inline;
}

.be-social i {
    font-size: 250%;
    color: #eb8108;
    margin: 1%;
    padding: 3%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Classes descriptions ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Setting the background on the classes page. Thanks to Pexel.com for image. */

#pilateclasses {
    background: url('../img/cliff.jpg') no-repeat;
    height: 660px;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#pilateclasses div {
    text-align: center;
    width: 583px;
    height: 145px;
    margin: 0 auto;
    background-color: rgba(255, 235, 205, 0.8);
    border-radius: 30%;
}

#pilateclasses p {
color: #3f000f;
font-size: 90%;
font-weight: 600;
}

#pilateclasses h2 {
    font-size: 150%;
    font-weight: 600;
    color: #3f000f;
    margin-top: 15px;
    margin-bottom: 5px;
    padding-top: 10px;
}


/*......... CONTACT US FORM..... For this page I would have looked at the love running and the 
coffee coders house code to get ideas on how to set up a form. I also checked on line. I liked the way they place the form in the LOVe Running 
and I took the code for my contact me form.*/

.form {
    clear: left;
    height: 600px;
    background: url("../img/contact.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    margin: 10px;
}

.signup {
    margin-top: 175px;
    color:#fff;
    background-color: rgba(60, 60, 60, 0.6); /* love this see through effect*/
    width: 300px;
    height: 350px;
    border-radius: 5%;
    position: absolute;
    left: 6%;
    padding: 15px;
}

.signup h1 {
    color: #eb8108;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
    
}
/* styling the input containers using the help of the love running tutorial */
.form-input {
    background: transparent;
    color: #fff;
    width: 100%;
    height: 25px;
    margin: 5px 0 10px 0 ;
    border: 1.5px solid #eb8108;
    border-radius: 5px;    
}

.form-input:hover {
    border-color: #3f000f;
}

.contact-button {
    margin-top: 10px;
    margin-left: 90px;
    border-radius: 5px;
    padding: 10px 10px;
    text-align: center;
    font-size: 75%;
    background-color: #f56f15;
    color: #3f000f;
    }

    .contact-button:hover {
        background-color: #fafafa;
        color: #f56f15;
    }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~RESPONSIVE SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

/* TABLETS    This media query is for a tablet .........for screen sizes at or below 1393 px*/

@media screen and (max-width: 1393px) {
 
/* Making the "about us" section responsive to small laptop, tablet screens - The love running project gave me pointers on this with regards
to device widths. Once this media query is met the following styling is enforced. */

#aboutus {
    width: 65%;
    height: 1200px;
    margin: 0 auto;
    }
   
#logo {
    width: 65%;
    text-align: left;
    }

#menu{
    clear: both;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 20px;
    font-size: smaller;
    }

#teammembers {
    padding: 20px 0;
    margin-top: 0;
    }

#right-about, #left-about {
    width:100%;
    float: left;
    padding: 0;
    }
 /* this pushes picture down*/
#center-about {
    clear: both;
    width: 100%;
    float: left;
    padding: 0;
    }

hr {  /* got rid of horizontal line under names */
    display: none;
    }

/*~~~~~~~~~~~~~~~~~~~~~~~ This following piece is for the classes pages.~~~~~~~~~~~~~~ */

#classes {
    width: 65%;
    height: 1000px;
    margin: 0 auto;
    background-repeat: no-repeat;
}
#classes blockquote {
    width:100%;
    text-align: center;
    padding: 30px 0px 0px 5px;
    }

/* ~~~~~~~~~~~~~~~~~~~~ This following piece is for the SCHEDULE pages.~~~~~~~~~~~~~~  */

#classtimes {
    width: 65%;
    height:1200px;
    margin:0 auto;
    background-repeat: no-repeat;
}

#classtimes div {
    width:100%;
    text-align: left;
    padding: 10px 0px 0px 10px;
}

blockquote {
    clear: both;
    font-size: 50%;
    padding: 10px 0px 0px 10px;
}

blockquote p {
     color: #fafafa;
     font-weight: 200;
}

}

/* ~~~~~~~~~~~~~~~~~~Responsiveness for ipad pro devices ~~~~~~~~~~~~~~~~~~~~~~~~
With a lot of testing I feel I managed to get the responive design working*/

@media screen and (max-width: 1200px) {

#logo {
    width: 65%;
    text-align: left;
}
 
#menu{
    clear: both;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 20px;
    font-size: smaller;
    }
    
    /*remove top telephone number */
    #logo2 {
        display: none;
    }
    /* Remove J Pilates quote on schedule page - looked terible on small devices*/
    #quote {
        display:none;
    }
    /* center headings for divs on schedule page*/

    #classtimes h2 {
    clear: both;
    text-align: center;
    }
    /* filled in the area the quote was in by increasing div size */
    
    #classtimes div {
        width: 100%;
        clear: both;
        height: 220px;
        border-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: #000;
        padding: 20px 0 0 0;
    }

}
/* media queries for mobiles .........for screen sizes at or below 943px  credit to CI and the "Love Running Lesson for these pieces of code*/


@media screen and (max-width: 943px) {

/*checked this out in formstack question and answers */
    
    #logo {
    width: 90%;
    text-align: left;
}

    a, h1{
    text-decoration: none;
}

    /*steps to move navlist below the logo taken from love to run project   */

    #menu{
        clear: both;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 20px;
        font-size: smaller;
     }

/* REmoved 2 items form the nav list - contact us and the classes item - as not needed
on mobile */

    .smalldevice {
        display: none;
    }

/* The about us page made responsive in this section - Again the CI "love running project" was a great guide here */

    #aboutus {
        width: 80%;
        height: 1200px;
        margin: 0 auto;
    }

    .right-about-side, .left-about-side {
        width:inherit;
    }
    .right-about-side h2, .left-about-side h2{
        width: 100%;
        text-align: center;
    }

.right-about-side p, .left-about-side p{
    width: 100%;
    text-align: center;
}


/* The schedule page made responsive in this section - Again the CI "love running project" was a great guide here.
   Note - the quote and cite from Joesph pilates was removed for mobiles as it was not needed */

#classtimes div {
    width: 100%;
    clear: both;
    height: 220px;
    border-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #000;
    padding: 20px 0 0 0;
    }
    
 #classtimes h2 {
    clear: both;
    text-align: center;
}

#classes {
    width: 80%;
    height: 1200px;
    margin: 0 auto;
    background-repeat: no-repeat;
}

#classes blockquote {
    width:100%;
    text-align: left;
    margin-top: 10px;
    padding: 10px 0px 0px 5px;
    }
}

/* for very small devices */

@media screen and (max-width: 500px){
 
#logo {
    text-align: center;
    font-size: 200%;
    padding: 0;
    margin: 0;
}

#menu li {
    float: left;
    text-align: right;
}

/* Leave out telephone number from nav bar. Also omit 2 items from the nav list */

#logo2 {
      display: none;
    }

.smalldevice {
      display: none;
        }
}

/*Concentrating on RESPONSIVENESS for tiny phones. Nover over lay on home page and no menu item contact us and classes */

@media screen and (max-width: 280px)

{

.smalldevice {
    display: none;
    }

#logo {
        text-align: right;
        }
    
.smalldevice2 {
    display:none;
    }
}