@import url('https://fonts.googleapis.com/css2?family=Imbue:wght@300&family=Lora:ital@1&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Lora, sans-serif;
    color: #3f000f;
}

h1 {
    font-family: Imbue, sans-serif;
    color: #eb8108;
    font-weight: 250;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2 {
    font-family: Imbue, sans-serif;
    color: #eb8108;
    font-weight: 250;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#logo {
    float: left;
    font-size: 280%;
    padding-left: 10px;
}

#menu {
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
}

/* horizontally align logo and menu items */
#logo, #menu {
    line-height: 75px;
}


#menu li {
    float: right;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/* set the hover and the active page */

#menu a:hover {
    border-bottom: 1px #eb8108 solid;
}

.active {
    border-bottom: 1px #eb8108 solid;
}

/* Hero Image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../img/hi.jpg) no-repeat center center;

    animation: heroZ;
    animation-duration: 2s;
    animation-fill-mode: forwards;

}
/* some animation */
.hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}


@keyframes heroZ {
    from{
        transform: scale(1);

    }
    to {
        transform: scale(1.1);

    }
} 

/* Overlay styling on hero image */

#overlay h2 {
    color: #fafafa;
    padding-bottom: 10px;
}
#overlay h5 {
    color:#3f000f;
}

#overlay {
    font-size: 120%;
    font-family: Imbue, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 240px;
    height:145px;
    border-radius: 10%;
    padding: 20px 20px 30px 20px;
    background-color: rgba(248, 73, 4, 0.8);

    bottom: 70px;
    left: 60px;
    position: absolute;
}

#overlay a {
    text-decoration: none;
}


/* THE ABOUT US PAGE!!!!!!............. */

#aboutus {
    height: 600px;
    width:100%;
}

/*  aboutus heading style*/
#teammembers {
    text-align: center;
    margin: 15px 0;
    font-size: 280%;
    font-weight: 250; 
    color: #3f000f;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    
}

.left-about-side {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 40px;
}

hr {
    border-top: 1px solid #3f000f;
    width: 100%;
    margin: 5px 0;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

.right-about-side {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-side h2 {
    text-align: right;
}

.right-about-side p {
    text-align: right;
}

#center-about {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;    
}

/*Center column photos in aboutus*/

#circle-container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 20px;
    border-style: solid;
    border-color: #eb8108;
    border-width: 1px;
    margin: 0 auto; 
}
#circle-bg-pic {
   background: url("../img/group.jpg") no-repeat center center;
   height: 100%;
   border-radius: 50%;
}

/* Class and times section .......*/

/* orange image styling */
#classtimes {
    background-image: url('../img/orangebg.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

/* the 5 class and times styling */

#classtimes div {
    color: #fafafa;
    background-color: rgba(0,0,0, 0.6);
    width: 19%;
    /*height:600px; */
    float: left;
    text-align: center;
    padding: 30px 0 30px 8px;
    margin: 1px;
    line-height: 20px;
}

#classtimes h4 {
    font-weight: 200;
    margin-bottom: 4px;
}

#classtimes h2 {
    font-weight: 400;
}
/* robbed css foot classes form running  just for reference.*/

footer {
    height: 150px
}

.footercontact {
    text-align: center;
    color:#3f000f;
    padding-left: 10px;
    text-decoration: none;
    padding-bottom: 5px;
}

footer h2,h4{
    padding-left: 10px;
    padding-right: 3px;
    padding-bottom: 5px;
    text-align: center;
}

.be-social
{
   text-align: center;
}

.be-social li {
    text-align: center;
    display: inline;
}


.be-social i {
    color: #eb8108;
    font-size: 160%;
    margin: 1%;
    padding: 3%;
}